
<div class="row">
    <div class="col-md-5">
        @Html.ActionLink("내 포스팅", "MyPost", "MyPage")
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        @Html.ActionLink("내 앨범", "MyAlbum", "MyPage")
    </div>
</div>