@model List<Models.Album>

    
@foreach (var item in Model)
{
        <div class="row">
                <div class="col-md-5">
                        <a class="nav-link text-blue" asp-area="" asp-controller="MyPage" asp-action="MyPhotos" asp-route-id="@item.Id">
                                @item.Title        
                        </a>
                </div>
        </div>
}
        
