@model List<Models.Post>


<div class="row">
    
        @foreach (var item in Model)
        {
                <div class="col-md-5">
                        @item.Id
                        @item.Title
                        @item.Body
                </div>    
        }
        
</div>